.Rproj.user
.Rhistory
.RData
.rdx
.rdb
*-cache/*
*-figure/*
*.Rproj
Biostat-578.Rproj
Data/SDY61/SDY61.sqlite
GEOmetadb.sqlite
Probe_summary_files/*
*.gz
SDY224_voom_matrix.csv
SDY224_voom_matrix.csv.zip
SDY224_cpm_matrix.csv
SDY224_pd.csv
Data/GEO/*
*cache*

*.sqlite

Introduction_to_R.pdf
