.Rproj.user
.Rhistory
.RData
.rdx
.rdb
Advanved_data_manipulation.md
Advanved_data_manipulation.html
Advanved_data_manipulation-*
Advanved_graphics_in_R.md
Advanved_graphics_in_R.html
Advanved_graphics_in_R-*
*.Rproj

