useDynLib(sequences)

import("methods")
import("Rcpp")

exportClasses(GenericSeq,
              DnaSeq,
              RnaSeq)

exportMethods(id, "id<-",
              seq, "seq<-",
              "[",
              alphabet,
              print, show,
              rev,
              comp,
              length,
              transcribe)

export(readFasta,
       gccount,
       gccount2,
       Seq)
